<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.customer.mapper.PushLogMapper">
    <insert id="insertPushLog" useGeneratedKeys="true" keyProperty="id" parameterType="com.api.customer.entity.PushLog">
	    insert into push_log(account_id,customers,type,message,create_time)
	    values (#{account_id},#{customers},#{type},#{message},now());
	</insert>

    <update id="updatePushLog" parameterType="com.api.customer.entity.PushLog">
        update push_log set
        <trim  suffixOverrides=",">
            <if test="type != null and type !=''">
                type = #{type},
            </if>
            <if test="consume_state != null and consume_state !=''">
                consume_state = #{consume_state},
            </if>
            update_time = now()
        </trim>
        where id = #{id}
    </update>

    <select id="getPushLogs" parameterType="java.lang.Integer" resultType="com.api.customer.entity.PushLog">
        select p.id,
               p.account_id,
               p.customers,
               p.type,
               p.message,
               p.create_time,
               p.consume_state,
               p.update_time,
        from push_log p
        where p.account_id = #{account_id}
        order by p.create_time desc
    </select>

    <select id="getUnConsumePushLog" parameterType="java.lang.Integer" resultType="com.api.customer.entity.PushLog">
        select p.id,
               p.account_id,
               p.customers,
               p.type,
               p.message,
               p.create_time,
               p.consume_state,
               p.update_time,
        from push_log p
        where p.account_id = #{account_id}
        and p.consume_state = 0
        order by p.create_time desc
    </select>

    <update id="clearNotify" parameterType="java.lang.Integer">
        update push_log set consume_state = 1 where account_id = #{account_id}
    </update>

    <insert id="savePushLogBatch" parameterType="com.api.customer.entity.PushLog">
        INSERT INTO push_log (account_id,customers,type,message,create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.account_id}, #{item.customers}, #{item.type}, #{item.message}, CURRENT_TIMESTAMP)
        </foreach>
    </insert>
</mapper>