<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.admin.mapper.AgentLevelMapper">

    <select id="listAgentLevelByBrandId" resultType="com.api.goods.entity.AgentLevel">
        SELECT *
        FROM agentlevel
        WHERE state = 1 AND brand_id = #{brandId}
    </select>

    <insert id="saveAgentLevelByBrandId" parameterType="com.api.goods.entity.AgentLevel">
        INSERT INTO agentlevel (agentlevel_name, agentlevel_default, brand_id, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.agentlevel_name}, 1, #{item.brand_id}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
        </foreach>
    </insert>

    <update id="removeAgentLevelByBrandId" parameterType="int">
        UPDATE agentlevel
        SET state = 0, update_time = CURRENT_TIMESTAMP
        WHERE brand_id = #{brandId}
    </update>
</mapper>
