<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.admin.mapper.BrandMgrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.backend.admin.entity.Brand">
        <id column="brand_id" property="brandId"/>
        <result column="brand_name" property="brandName"/>
        <result column="goods_count" property="goodsCount"/>
        <result column="images_count" property="imagesCount"/>
        <result column="threshold_count" property="thresholdCount"/>
        <result column="brand_from" property="brandFrom"/>
        <result column="brand_index" property="brandIndex"/>
        <result column="brand_shortname" property="brandShortname"/>
        <result column="brand_downloadcode" property="brandDownloadcode"/>
        <result column="account_id" property="accountId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="state" property="state"/>

        <result column="is_hot" property="isHot"/>
        <result column="brand_info" property="brandInfo"/>
        <result column="logo_url" property="logoUrl"/>
        <result column="title" property="title"/>
        <result column="phone" property="phone"/>
        <result column="wechat" property="wechat"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT *
        FROM brand
        WHERE state = 1 AND brand_downloadcode IS NOT NULL
        ORDER BY is_hot DESC, update_time DESC
    </select>

    <select id="getBrandById" resultMap="BaseResultMap">
        SELECT *
        FROM brand
        WHERE state = 1 AND brand_downloadcode IS NOT NULL
              AND brand_id = #{id}
    </select>

    <insert id="saveBrand" parameterType="com.backend.admin.entity.Brand" keyProperty="brandId" useGeneratedKeys="true">
        INSERT INTO brand (brand_name, brand_shortname, brand_downloadcode, create_time, update_time, brand_info, title, logo_url, phone, wechat)
        VALUES (#{brandName}, #{brandShortname}, #{brandDownloadcode}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{brandInfo}, #{title}, #{logoUrl}, #{phone}, #{wechat})
    </insert>

    <update id="updateBrand" parameterType="com.backend.admin.entity.Brand">
        UPDATE brand
        <trim prefix="SET" suffixOverrides="," suffix="WHERE brand_id = #{brandId}">
            <if test="brandName!=null">brand_name = #{brandName},</if>
            <if test="goodsCount!=null">goods_count = #{goodsCount},</if>
            <if test="brandShortname!=null">brand_shortname = #{brandShortname},</if>
            <if test="brandDownloadcode!=null">brand_downloadcode = #{brandDownloadcode},</if>
            <if test="brandInfo!=null">brand_info = #{brandInfo},</if>
            <if test="title!=null">title = #{title},</if>
            <if test="logoUrl!=null">logo_url = #{logoUrl},</if>
            <if test="phone!=null">phone = #{phone},</if>
            <if test="wechat!=null">wechat = #{wechat},</if>
            update_time = CURRENT_TIMESTAMP
        </trim>
    </update>

    <update id="removeBrandById" parameterType="int">
        UPDATE brand
        SET state = 0
        WHERE brand_id = #{id}
    </update>

    <update id="increaseGoodsCount" parameterType="int">
        UPDATE brand
        SET goods_count = goods_count + 1
        WHERE brand_id = #{id}
    </update>

    <update id="decreaseGoodsCount" parameterType="int">
        UPDATE brand
        SET goods_count = goods_count - 1
        WHERE brand_id = #{id}
    </update>

    <update id="setBrandHot" parameterType="int">
        UPDATE brand
        SET is_hot = 1,update_time = CURRENT_TIMESTAMP
        WHERE brand_id = #{id}
    </update>

    <update id="cancelBrandHot" parameterType="int">
        UPDATE brand
        SET is_hot = 0,update_time = CURRENT_TIMESTAMP
        WHERE brand_id = #{id}
    </update>

    <select id="queryBrandImages" resultType="com.api.goods.entity.BrandImages" parameterType="int">
        select b.brandimages_id,
               b.brandimages_url,
               b.brand_id,
               b.account_id,
               b.create_time,
               b.update_time,
               b.state
        from brandimages b where state = 1 and account_id = 0 and brand_id = #{brand_id} order by brandimages_id
    </select>

</mapper>
