<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.admin.mapper.GoodsPriceMapper">

    <select id="listGoodsPriceByGoodsId" resultType="com.backend.admin.entity.GoodsPrice">
        SELECT
            g.goodsprice_id,
            g.goods_id,
            g.agentlevel_id,
            g.goods_price,
            g.create_time,
            g.update_time,
            g.state,
            a.agentlevel_name
        FROM goodsprice AS g LEFT JOIN agentlevel AS a ON g.agentlevel_id = a.agentlevel_id
        WHERE g.state = 1 AND g.goods_id = #{goodsId}
    </select>

    <insert id="saveGoodsPrice" parameterType="com.backend.admin.entity.GoodsPrice">
        INSERT INTO goodsprice (goods_id, agentlevel_id, goods_price, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.goods_id}, #{item.agentlevel_id}, #{item.goods_price}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
        </foreach>
    </insert>

    <update id="updateGoodsPriceBatch" parameterType="com.backend.admin.entity.GoodsPrice">
        UPDATE goodsprice
        <foreach collection="list" item="item" open="SET goods_price = CASE goodsprice_id" close="END">
            WHEN #{item.goodsprice_id} THEN #{item.goods_price}
        </foreach>
        WHERE goodsprice_id IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.goodsprice_id}
        </foreach>
    </update>

    <update id="removeAgentLevelByBrandId" parameterType="int">
        UPDATE goodsprice
        SET state = 0, update_time = CURRENT_TIMESTAMP
        WHERE goods_id = #{goodsId}
    </update>
</mapper>
