<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.admin.mapper.GoodsMgrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.backend.admin.entity.Goods">
        <id column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_price" property="goodsPrice" />
        <result column="brand_id" property="brandId" />
        <result column="goods_stock" property="goodsStock" />
        <result column="goods_setstock" property="goodsSetstock" />
        <result column="goods_threshold" property="goodsThreshold" />
        <result column="goods_scale" property="goodsScale" />
        <result column="goods_index" property="goodsIndex" />
        <result column="account_id" property="accountId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="state" property="state" />
    </resultMap>
    
</mapper>
