<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.admin.mapper.PayOrderMapper">

    <resultMap type="com.backend.admin.entity.PayOrder" id="PayOrderMap">
        <result property="order_no" column="order_no" jdbcType="VARCHAR"/>
        <result property="order_type" column="order_type" jdbcType="INTEGER"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="order_amount" column="order_amount" jdbcType="INTEGER"/>
        <result property="vip_time" column="vip_time" jdbcType="INTEGER"/>
        <result property="remain_time" column="remain_time" jdbcType="TIMESTAMP"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="account_id" column="account_id" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PayOrderMap">
        select
          order_no, order_type, create_time, order_amount, vip_time, remain_time, state
        from fqgj.pay_order
        where order_no = #{order_no}
    </select>

    <!--查询单个-->
    <select id="queryByAccountId" resultMap="PayOrderMap">
        select
          order_no, order_type, create_time, order_amount, vip_time, remain_time, state, account_id
        from fqgj.pay_order
        where account_id = #{account_id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="PayOrderMap">
        select
          order_no, order_type, create_time, order_amount, vip_time, remain_time, state
        from fqgj.pay_order
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="PayOrderMap">
        select
          order_no, order_type, create_time, order_amount, vip_time, remain_time, state
        from fqgj.pay_order
        <where>
            <if test="order_no != null and order_no != ''">
                and order_no = #{order_no}
            </if>
            <if test="order_type != null">
                and order_type = #{order_type}
            </if>
            <if test="create_time != null">
                and create_time = #{create_time}
            </if>
            <if test="order_amount != null">
                and order_amount = #{order_amount}
            </if>
            <if test="vip_time != null">
                and vip_time = #{vip_time}
            </if>
            <if test="remain_time != null">
                and remain_time = #{remain_time}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="orderNo" useGeneratedKeys="true">
        insert into fqgj.pay_order(order_type, create_time, order_amount, vip_time, remain_time, state, account_id)
        values (#{order_type}, now(), #{order_amount}, #{vip_time}, #{remain_time}, #{state}, account_id)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update fqgj.pay_order
        <set>
            <if test="order_type != null">
                order_type = #{order_type},
            </if>
            <if test="order_amount != null">
                order_amount = #{order_amount},
            </if>
            <if test="vip_time != null">
                vip_time = #{vip_time},
            </if>
            <if test="remain_time != null">
                remain_time = #{remain_time},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
        </set>
        where order_no = #{order_no}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from fqgj.pay_order where order_no = #{order_no}
    </delete>

</mapper>